{{>layouts/header}}
<title>거래소 검색</title>
</head>
<body>
<div>
    <caption>검색 결과</caption>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">이름</th>
            <th scope="col">묶음</th>
            <th scope="col">등급</th>
            <th scope="col">가격</th>
            <th scope="col">Id</th>
        </tr>
        </thead>
        <tbody>
        {{#result}}
        <tr>
            <td><img src="{{Icon}}"></td>
            <td>{{Name}}</td>
            <td>{{BundleCount}}</td>
            <td>{{Grade}}</td>
            <td>{{RecentPrice}}</td>
            <td>{{Id}}</td>
        </tr>
        {{/result}}
        </tbody>
    </table>
</div>
{{>layouts/footer}}
