{{>layouts/header}}
    <title>로스트아크 오픈 API 테스트</title>
</head>
<body>
<form class=""  action="/api/markets/categories" method="post">
    <h4>CategoriesCode</h4>
    <div class="">
        <input type="text" name="categories" placeholder="카테고리 코드">
    </div>
    <button>찾기</button>
</form>
<div>
    <h1>검색코드</h1>
    <p>ItemGrades : {{result.ItemGrades}}</p>
    <p>Categories</p>
    <p>
        {{#result.Categories}}
            {{CodeName}} : {{Code}}</br>
            {{#Subs}}
                {{CodeName}} : {{Code}}</br>
            {{/Subs}}
        {{/result.Categories}}
    </p>
    <p>ItemTiers : {{result.ItemTiers}}</p>
    <p>Classes : {{result.Classes}}</p>
</div>
{{>layouts/footer}}