{{>layouts/header}}
<title>로스트아크 최적화 계산기</title>
</head>
<body>
<div>
    <h2>로스트아크 최적화 계산기</h2>
    <span>made by - DevMH</span>
</div>
<div>
    <h3>주요 기능</h3>
    <input type="button" onclick="location.href='/api/markets'" value="거래소 계산">
    <input type="button" onclick="location.href='/api/fishing'" value="낚시 효율 계산">
</div>
{{>layouts/footer}}