{{>layouts/header}}
<title>로스트아크 가디언 토벌 비교</title>
</head>
<body>
<div>
    <caption>소나벨</caption>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">1수 (휴게x)</th>
            <th scope="col">총 0 골드</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>정파강</td>
            <td>33.4개</td>
            <td>0골드</td>
        </tr>
        <tr>
            <td>정수강</td>
            <td>100개</td>
            <td>0골드</td>
        </tr>
        <tr>
            <td>찬명돌</td>
            <td>4개</td>
            <td>0골드</td>
        </tr>
        </tbody>
    </table>
</div>
{{>layouts/footer}}